
/* SCSS HEX */
$seal-brown: #582f0eff;
$russet: #7f4f24ff;
$coyote-brown: #936639ff;
$camel: #a68a64ff;
$khaki-web: #b6ad90ff;
$laurel-green: #c2c5aaff;
$sage: #a4ac86ff;
$dark-olive-green: #656d4aff;
$rifle-green: #414833ff;
$kombu-green: #333d29ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);
$gradient-right: linear-gradient(90deg, #582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);
$gradient-bottom: linear-gradient(180deg, #582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);
$gradient-left: linear-gradient(270deg, #582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);
$gradient-top-right: linear-gradient(45deg, #582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);
$gradient-bottom-right: linear-gradient(135deg, #582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);
$gradient-top-left: linear-gradient(225deg, #582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);
$gradient-bottom-left: linear-gradient(315deg, #582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);
$gradient-radial: radial-gradient(#582f0eff, #7f4f24ff, #936639ff, #a68a64ff, #b6ad90ff, #c2c5aaff, #a4ac86ff, #656d4aff, #414833ff, #333d29ff);

$theme-navy-blue: #052e5d;
$theme-title-blue: #00a9e0;
$theme-sky-blue: #b2e4f9;
$theme-teal: #006B84;
$theme-turquoise: #00c4b3;
$theme-green: #498406;
$theme-light-green: #98cd5d;
$theme-purple: #9013f3;
$theme-magenta: #dc3dbd;
$theme-dark-orange: #c75300;
$theme-orange: #f5a623;
$theme-yellow: #ffce00;
$theme-gray: #ebeef2;
$theme-light-gray: #e2e2e2;

$theme-background: #f2f7f8;

